@model  IEnumerable<RecipeManager.Models.Recipe>
@using RecipeManager.Models;
@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewAll</h1>
<div class="recipe-container">
    @foreach (Recipe recipe in Model)
    {
    <div class="recipe-tile">
        <p class="title">@recipe.Title</p>
        <p class="description">@recipe.Description</p>
        <p class="author">@recipe.Author</p>
        <div class="recipe-link-holder">
            <a href="~/Recipes/Details/@recipe.ID">Details</a>
            <a href="~/SavedRecipes/Remove/@recipe.ID"> Remove </a>
        </div>
    </div>
    }
</div>

