@model  IEnumerable<RecipeManager.Models.Recipe>
@using RecipeManager.Models;
@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewAll</h2>
<div class="recipe-container">
    @foreach (Recipe recipe in Model)
    {
    <div class="recipe-tile">
        <p>@recipe.Title</p>
        <p>@recipe.Description</p>
        <p>@recipe.Author</p>
        <a href="~/Recipes/Details/@recipe.ID">View Details</a>
        <a href="~/SavedRecipes/Remove/@recipe.ID"> Remove </a>
    </div>
    }
</div>

