@model  IEnumerable<RecipeManager.Models.Recipe>
@using RecipeManager.Models;
@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewAll</h2>
@foreach (Recipe recipe in Model)
{
    <p>@recipe.Title</p>
    <p>@recipe.Description</p>
    <a href="~/Recipes/Details/@recipe.ID">View Details</a>
}

