@model RecipeManager.Models.ViewModels.RegisterViewModel
@{ 
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Register">
    <form class="register-form" method="post">
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" />
        </div>
            <span asp-validation-for="Username"></span>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </div>
            <span asp-validation-for="Email"></span>
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
        </div>
            <span asp-validation-for="FirstName"></span>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
        </div>
            <span asp-validation-for="LastName"></span>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>
            <span asp-validation-for="Password"></span>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
        </div>
            <span asp-validation-for="ConfirmPassword"></span>
        <button type="submit">REGISTER</button>
    </form>
</div>

