header {
    background-color: black;
    color: white;
}
nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: lightgray;
}
nav ul {
    background-color: black;
}

@media(max-width: 960px) {
}



