body {
   background-color: #dee9eb
}

header {
    background-color: black;
    color: white;
}
nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: #3db3db;
}
nav ul {
    background-color: black;
}

.recipe-tile {
    background-color: #3db3db;
}



@media(max-width: 960px) {
}



