h2 {
    font-family: 'Homemade Apple', cursive;
    padding-left: 5px;
    font-size: 24px;
}

h1 {
    font-size: 3em;
    text-align: center;
}

header a {
    font-family: 'Homemade Apple', cursive;
    padding-left: 5px;
    text-decoration: none;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


.recipe-tile p, .recipe-tile h4, .recipe-tile a{
    margin-bottom: 5px;
}
.author {
    font-style: italic;
}