@model  RecipeManager.Models.Recipe
@using RecipeManager.Models
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>


<form method="post">
    <div class="ingredients">
        <input asp-for="@Model.Ingredients[0].Name" />
        <input asp-for="@Model.Ingredients[0].Quantity" />
    </div>
    <p class="ingredient-adder">Plus Plus</p>
    <button type="submit">Submit</button>
</form>