@model  IEnumerable<RecipeManager.Models.Recipe>
@using RecipeManager.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Recipes</h1>
<div class="recipe-container">
    @foreach (Recipe recipe in @Model)
    {
        <div class="recipe-tile">
            <h4 class="title"> @recipe.Title </h4>
            <p class="description"> @recipe.Description</p>
            <p class="author">Added By: @recipe.Author</p>
            <div class="recipe-link-holder">
                <a href="~/Recipes/Details/@recipe.ID">Details</a>
            </div>
        </div>
    }
</div>

