@model  IEnumerable<RecipeManager.Models.Recipe>
@using RecipeManager.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recipes</h2>
@foreach (Recipe recipe in @Model)
{
    <div>
        <h4 class="title"> @recipe.Title </h4>
        <p> @recipe.Description</p>
        <p> @recipe.Author</p>
        <a href="~/Recipes/Details/@recipe.ID">View Details</a>
        <a href="~/SavedRecipes/Save/@recipe.ID"> Save</a>
    </div>
}

