@using RecipeManager.Models
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "_Layout";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <header>
        <h2>RecipeManager</h2>
        <nav>
            <ul>
                @if (signInManager.IsSignedIn(User))
                {
                    <li><a href="~/Account/Logout">Logout</a></li>
                    <li><a href="~/SavedRecipes/ViewAll">Saved Recipes</a></li>
                }
                else
                {
                    <li><a href="~/Account/Login">Login</a></li>
                    <li><a href="~/Account/Register">Register</a></li>
                }
                <li><a href="~/Recipes/Add">Add Recipe</a> </li>
                <li><a href="~/">All Recipes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer> </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="~/js/app.js"></script>
</body>
</html>